* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #282C33;
    --primary: #C778DD;
    --main-text: #fff;
    --secondary-text: #ABB2BF;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
}

/* header */
.header {
    margin-left: 40px;
    margin-right: 40px;
    padding: 35px;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    color: var(--main-text);
    text-decoration: none;
    font-size: 2rem;
}

.links__item {
    gap: 45px;
    list-style-type: none;
}

.links__item span {
    color: var(--primary);
}

.links__item a {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 1.5rem;
    transition: color .3s ease-out;
}

.links__item a:hover {
    color: var(--main-text);
}

/* main */
.main {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 100px;
}

.main__container {
    justify-content: space-around;
    align-items: center;
}

.main__heading {
    max-width: 45%;
}

.main__heading span {
    color: var(--primary);
}

.main__heading h1 {
    color: var(--main-text);
    font-size: 3.3rem;
}

.heading__descr {
    margin-top: 25px;
}

.heading__descr p {
    font-size: 1.2rem;
    color: var(--secondary-text);
}

.heading__btn {
    max-width: 50%;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
}

.heading__btn a {
    padding: 15px;
    text-decoration: none;
    color: var(--main-text);
    font-size: 1.3rem;
    border: 1px solid var(--primary);
    transition: background-color .4s ease-in;
}

.heading__btn a:hover {
    background-color: rgba(199, 120, 221, .5);
}

.main__photo {
    max-width: 45%;
}

.main__photo img {
    max-width: 100%;
    border-bottom: 1px solid var(--primary);
    opacity: .7;
}

.quote {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    max-width: 67%;
}

.quote__text {
    max-width: 100%;
}

.quote__text blockquote {
    padding: 15px;
    font-size: 1.6rem;
    color: var(--main-text);
    border: 1px solid var(--secondary-text);
}

.quote__text blockquote p::before {
    color: var(--secondary-text);
    font-size: 3rem;
    content: '\201C';
}

.quote__text blockquote p::after {
    color: var(--secondary-text);
    font-size: 3rem;
    content: '\201D';
}

.quote__text figcaption {
    margin-left: auto;
    padding: 15px;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--secondary-text);
    border: 1px solid var(--secondary-text);
    border-top: 0;
    max-width: 15%;
}

/* main2 */
.projects {
    margin-top: 150px;
}

.heading__projects {
    max-width: 33%;
    align-items: center;
    justify-content: space-between;
}

.heading__projects h2 {
    font-size: 2.2rem;
    color: var(--main-text);
    letter-spacing: 2px;
}

.heading__projects span {
    color: var(--primary);
}

.heading__projects hr {
    width: 350px;
    border: none;
    border: 1px solid var(--primary);
    opacity: .7;
}

.projects__container {
    margin-top: 50px;
    justify-content: space-between;
}
.card__project {
    max-width: 25%;
    border: 1px solid var(--secondary-text);
}

.card__project img {
    max-width: 100%;
    border-bottom: 1px solid var(--secondary-text);
}

.card__project p {
    padding: 0 0 5px 5px;
    font-size: 1.2rem;
    color: var(--secondary-text);
    border-bottom: 1px solid var(--secondary-text);
}

.card__about {
    padding: 10px;
}

.card__about h2 {
    color: var(--main-text);
}

.card__about p {
    margin-top: 10px;
    padding: 0;
    border-bottom: 0;
}

.card__links {
    margin-top: 25px;
    justify-content: space-between;
}

.card__links a {
    padding: 5px;
    text-decoration: none;
    color: var(--main-text);
    font-size: 1.1rem;
    border: 1px solid var(--primary);
    transition: background-color .4s ease-in;
}

.card__links a:hover {
    background-color: rgba(199, 120, 221, .5);
}

/* main3 */
.skills {
    margin-top: 150px;
}
.heading__skills {
    max-width: 30%;
    align-items: center;
    justify-content: space-between;
}

.heading__skills h2 {
    font-size: 2.2rem;
    color: var(--main-text);
    letter-spacing: 2px;
}

.heading__skills span {
    color: var(--primary);
}

.heading__skills hr {
    width: 350px;
    border: none;
    border: 1px solid var(--primary);
    opacity: .7;
}

.skills__container {
    margin-top: 50px;
    gap: 55px;
    justify-content: center;
    max-width: 85%;
}

.skills__card {
    max-width: 35%;
    border: 1px solid var(--secondary-text);
    text-align: center;
}

.skills__card h2 {
    padding: 15px;
    border-bottom: 1px solid var(--secondary-text);
    color: var(--main-text);
    font-size: 1.7rem;
}

.skills__card p {
    padding: 15px;
    font-size: 1.3rem;
    color: var(--secondary-text);
}